<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Weather App: About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="./img/Amogh.jpg" alt="Img">
        <p>Hello World! I am Amogh Dixit, a sophomore at Indian Institute Of Technology, Indore. I am currently
            pursuing Electrical Engineering and I've a keen interest in Web Development. I am currently exploring MERN
            Stack and I keep building websites so that I get to learn more :))
        </p>
    </div>
    {{>footer}}
</body>
</html>